VITE_BASE_API_URL="http://localhost:3000"
VITE_DEFAULT_DIR_PATH="/Users/ari/Movies/Sampler_Video/"
VITE_DEFAULT_VIDEO_PATH="path/to/video.mp4"
# this ONLY runs in mode === 'production'
# REMOVE from env.development.local
VITE_CERT_PATH="./cert/xxx.crt"
VITE_KEY_PATH="./cert/xxx.key"